extends layout

block content
  h1= title
  p Assignment 10 #{title}
  button(type="button" class="btn btn-secondary", onclick="goFaster()") Press Me
  div(id="faster") Increase the speed
  

  script.
    var mph = 20;
    var change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById("faster").innerText = "MPH " + mph + " with change " + change;
    }
