extends layout

block content
  h1= title
  form(id='InstrumentForm', action="/resource/instruments", method="POST")
    div.form-group
      label.instrumentAttr(for='name') instrument type
      input#name(type='text', name='name')
    div.form-group
      label.instrumentAttr(for='product_type') instrument product_type
      input#product_type(type='text', name='product_type')
    div.form-group
      label.instrumentAttr(for='price') instrument price
      input#price(type='number', name='price')
    input(type="submit")

  script.
    document.forms['InstrumentForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Save succeeded");
        // TODO handle body
      })
      .catch((error) => {
        // TODO handle error
        alert("Save failed " + error);
      });
    });


