extends layout

block content
  h1= title
  form(id='InstrumentForm', action="/resource/instruments", method="POST")
    table(style='width:100%; border-collapse: collapse; margin-top: 20px;')
      tr
        th(style='border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2;') Label
        th(style='border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2;') Input
      tr
        td(style='border: 1px solid #ddd; padding: 8px;')
          label.instrumentAttr(for='name') Instrument type
        td(style='border: 1px solid #ddd; padding: 8px;')
          input#name(type='text', name='name')

      tr
        td(style='border: 1px solid #ddd; padding: 8px;')
          label.instrumentAttr(for='product_type') Instrument product type
        td(style='border: 1px solid #ddd; padding: 8px;')
          input#product_type(type='text', name='product_type')

      tr
        td(style='border: 1px solid #ddd; padding: 8px;')
          label.instrumentAttr(for='price') Instrument price
        td(style='border: 1px solid #ddd; padding: 8px;')
          input#price(type='number', name='price')

      tr
        td(colspan='2', style='border: 1px solid #ddd; padding: 8px;')
          input(type="submit")

  script.
    document.forms['InstrumentForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      })
      .then((body) => {
        alert("Save succeeded");
        // TODO handle body
      })
      .catch((error) => {
        // TODO handle error
        alert("Save failed " + error);
      });
    });
